@model IEnumerable<WebRole1.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    table.table tbody tr td > a{
        color:black;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.ActionLink("Date of Birth", "Index", new { so = ViewBag.DateSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICNo)
        </th>
        <th>
            @Html.ActionLink("Name","Index",new { so = ViewBag.NameSortParam})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citizenship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddr)
        </th>
        <th>Patient Image</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ICNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citizenship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddr)
        </td>
        <!--
        <td>
            <img src="@*Html.Raw(item.PatientImageURL)*@" />
        </td> -->
        <td>
            <img src="@Html.Raw(item.PatientThumbNailURl)" width="80", height="60" />
        </td>
        <td>f
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientID })
        </td>
    </tr>
}

</table>
