@model IEnumerable<WebRole1.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<style>
    table.table tbody tr td > a {
        color: black;
    }
</style>

<div class="container">
    <h2 class="text-center mt-2">Patients</h2>
    <p class="text-center">PSA: Thumbnails that are missing may have yet to be processed. Images are processed every 10 seconds.</p>
    <div class="text-center my-2">
        @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-secondary" })
    </div>
    <table class="table">
        <tr>
            <th>Photo</th>
            <th>
                @Html.ActionLink("Name", "Index", new { so = ViewBag.NameSortParam })

            </th>
            <th>
                @Html.ActionLink("Date of Birth", "Index", new { so = ViewBag.DateSortParam })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ICNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizenship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddr)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.Raw(item.PatientThumbNailURl)" width="80" , height="60" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ICNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Citizenship)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.EmailAddr)
                </td>
                <!--
                <td>
                    <img src="@*Html.Raw(item.PatientImageURL)*@" />
                </td> -->

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PatientID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PatientID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PatientID })
                </td>
            </tr>
        }

    </table>
</div>
