@model WebRole1.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h4 class="text-center mt-2">Doctor Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img src="@Html.Raw(Model.DoctorImageURL)" class="w-100 h-100" />
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <strong>Doctor Name:</strong><br />
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="form-group">
                <strong>Doctor IC No:</strong><br />
                @Html.DisplayFor(model => model.ICNo)
            </div>
            <div class="form-group">
                <strong>Doctor DOB:</strong><br />
                @Html.DisplayFor(model => model.Specialty)
            </div>
            <div class="form-group">
                <strong>Doctor Citizenship:</strong><br />
                @Html.DisplayFor(model => model.Citizenship)
            </div>
            <div class="form-group">
                <strong>Doctor Email:</strong><br />
                @Html.DisplayFor(model => model.EmailAddr)
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.DoctorID }, new { @class = "btn btn-warning" }) x
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>