@model WebRole1.Models.Consultation

@{
    ViewBag.Title = "Delete";
}



<div class="container">
    <div class="mt-4">

        <h3>Delete Consultation</h3>
        <p class="lead">Are you sure you want to delete this?</p>

        <hr />
        <div class="row">
            <div class="control-label col-md-3 col-lg-2">
                <b>@Html.Label("Doctor Name", "Doctor's Name")</b>
            </div>
            <div class="col-md-2">

                @Html.DisplayFor(model => model.Doctor.Name)
            </div>
        </div>

        <div class="row">
            <div class="control-label col-md-3 col-lg-2">
                <b>@Html.Label("Patient Name", "Patient's Name")</b>
            </div>
            <div class="col-md-2">

                @Html.DisplayFor(model => model.Patient.Name)
            </div>
        </div>

        <div class="row">
            <div class="control-label col-md-3 col-lg-2">
                <b>@Html.DisplayNameFor(model => model.QueueNo)</b>
            </div>
            <div class="col-md-2">

                @Html.DisplayFor(model => model.QueueNo)
            </div>
        </div>

        <div class="row">
            <div class="control-label col-md-3 col-lg-2">
                <b> @Html.DisplayNameFor(model => model.TimeStamp)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.TimeStamp)
            </div>
        </div>

        <div class="row">
            <div class="control-label col-md-3 col-lg-2">
                <b> @Html.DisplayNameFor(model => model.Status)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>

        <div class="row">
            <div class="control-label col-md-3 col-lg-2">
                <b> @Html.DisplayNameFor(model => model.ConsultationType)</b>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.ConsultationType)
            </div>
        </div>


        <br />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-secondary" /> &nbsp;|&nbsp;
                @Html.ActionLink("Cancel", "Index")
            </div>
        }
    </div>
</div>   