@model WebRole1.Models.Consultation

@{
    ViewBag.Title = "Details";
}
<div class="container">

    <div class="mt-4">

        <div>
            <h4>Consultation Details</h4>
            <p class="lead">Check the details for the consultation and make ammendments if needed.</p>
            <hr />
            <div class="row">
                <div class="control-label col-md-3 col-lg-2">
                    <b>@Html.Label("Doctor Name", "Doctor's Name")</b>
                </div>
                <div class="col-md-2">

                    @Html.DisplayFor(model => model.Doctor.Name)
                </div>
            </div>

            <div class="row">
                <div class="control-label col-md-3 col-lg-2">
                    <b>@Html.Label("Patient Name", "Patient's Name")</b>
                </div>
                <div class="col-md-2">

                    @Html.DisplayFor(model => model.Patient.Name)
                </div>
            </div>

            <div class="row">
                <div class="control-label col-md-3 col-lg-2">
                    <b>@Html.DisplayNameFor(model => model.QueueNo)</b>
                </div>
                <div class="col-md-2">

                    @Html.DisplayFor(model => model.QueueNo)
                </div>
            </div>

            <div class="row">
                <div class="control-label col-md-3 col-lg-2">
                    <b> @Html.DisplayNameFor(model => model.TimeStamp)</b>
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.TimeStamp)
                </div>
            </div>

            <div class="row">
                <div class="control-label col-md-3 col-lg-2">
                    <b> @Html.DisplayNameFor(model => model.Status)</b>
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.Status)
                </div>
            </div>

            <div class="row">
                <div class="control-label col-md-3 col-lg-2">
                    <b> @Html.DisplayNameFor(model => model.ConsultationType)</b>
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.ConsultationType)
                </div>
            </div>

        </div>

        <hr />

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultationID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
